{
    "extends": [
        "eslint:recommended",
        "plugin:prettier/recommended",
        "plugin:react/recommended"
    ],
    "globals": {
        "localStorage": true,
        "console": true,
        "process": true
    },
    "env": {
        "browser": true,
        "es6": true
    },
    "parser": "babel-eslint",
    "rules": {
        "prettier/prettier": [
            "error",
            {
                "singleQuote": true,
                "endOfLine": "auto"
            }
        ],
        "no-console": "off",
        "react/prop-types": ["off"]
    },
    "overrides": [{ "files": ["node_modules/"] }]
}
